{% extends "base.html" %}
{% block content %}

{% for book in all_books %}
  <div class="book">
    <div class="content">
        <div>
            <a href="/books/{{book.id}}">{{book.title}}</a> 
        </div>
        <div>{{book.genre}}</div>
        <div>{{book.publisher}}</div>
        <div>{{book.author}}</div>
        <div>{{book.author.id}}</div>
    </div>
    <div>
        <form action="/books/{{book.id}}/delete" class="delete-form" method="POST">
            <button style="color: red;" aria-hidden="true" value="delete">Delete</button>
        </form>
    </div>
      
      
      
      <!-- <div class="description">
        {{book.description}}
        <span class="duration">{{book.duration}} mins</span>
      </div> -->
      <!-- <div class="buttons">
        {% if book.completed == True %}
          <i class="fa fa-check fa-2x" style="color:green" aria-hidden="true"></i>
        {% else %}
          <i class="fa fa-times fa-2x" aria-hidden="true"></i>
        {% endif %}
      </div> -->
    
  </div>
{% endfor %}

{% endblock %}